## Author : Loka Akash Reddy
### Innomatics Research Labs - Data Science October - 2021
### Task 2 : Data Types
### Task Link : https://www.hackerrank.com/domains/python?filters%5Bsubdomains%5D%5B%5D=py-basic-data-types&filters%5Bsubdomains%5D%5B%5D=py-sets

### Program 1 : List Comprehensions

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    ar = [[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n]
    print(ar)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### Program 2 : Find the Runner-Up Score!

In [2]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    print(sorted(set(arr), reverse=True)[1])

5
2 3 6 6 5
5

### Program 3 : Nested Lists

In [3]:
if __name__ == '__main__':
    students = []
    scores = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        student = [name, score]
        students.append(student)
        scores.append(score)
    second_min_score = sorted(set(scores))[1]
    filtered_student_names = sorted([student[0] for student in students if student[1] == second_min_score])
    print("\n".join(filtered_student_names))

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

### Program 4 : Finding the percentage

In [4]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    res = sum(student_marks[query_name])/len(student_marks[name])
    print("{:.2f}".format(res))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### Program 5 : Lists

In [5]:
if __name__ == '__main__':
    N = int(input())
    ar = []
    for i in range(0, N):
        tmp_str = input()
        tmp_str_ar = tmp_str.strip().split(" ")
        cmd = tmp_str_ar[0]
        if cmd == "print":
            print(ar)
        elif cmd == "sort":
            ar.sort()
        elif cmd == "reverse":
            ar.reverse()
        elif cmd == "pop":
            ar.pop()
        elif cmd == "count":
            val = int(tmp_str_ar[1])
            ar.count(val)
        elif cmd == "index":
            val = int(tmp_str_ar[1])
            ar.index(val)
        elif cmd == "remove":
            val = int(tmp_str_ar[1])
            ar.remove(val)
        elif cmd == "append":
            val = int(tmp_str_ar[1])
            ar.append(val)
        elif cmd == "insert":
            pos = int(tmp_str_ar[1])
            val = int(tmp_str_ar[2])
            ar.insert(pos, val)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### Program 6 : Tuples

In [6]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

2
1 2
-3550055125485641917

### Program 7 : No Idea!

In [7]:
from collections import Counter
n, m = map(int,input().split())
ar = list(map(int,input().split()))
ar_set = set(ar)
ar_counter = Counter(ar)
set_a = set(map(int,input().split()))
set_b = set(map(int,input().split()))
intersect_ar_a = list(ar_set&set_a)
intersect_ar_b = list(ar_set&set_b)
result = 0
for element in intersect_ar_a:
    result += ar_counter[element]
for element in intersect_ar_b:
    result -= ar_counter[element]
    
print(result)

3 2
1 5 3
3 1
5 7
1

### Program 8 : Symmetric Difference

In [8]:
m = int(input())
set_a = set(map(int, input().split()))
n = int(input())
set_b = set(map(int, input().split()))
set_a_diff = set_a.difference(set_b)
set_b_diff = set_b.difference(set_a)
for i in sorted(set_a_diff.union(set_b_diff)):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

### Program 9 : Set .add()

In [9]:
n = int(input())
country_set = set()
for i in range(n):
    country_name = input()
    country_set.add(country_name)
print(len(country_set))

7
UK
China
USA
France
New Zealand
UK
France
5

### Program 10 : Set .discard(), .remove() & .pop()

In [10]:
n = int(input())
s = set(map(int, input().split())) 
n = int(input())
for i in range(n):
    cmd = list(input().split(' '))
    if (len(cmd) == 1):
        s.pop()
    else:
        value = int(cmd[1])
        s.discard(value)
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Program 11 : Set .union() Operation

In [11]:
n = input()
eng = set(map(int,input().split()))
b = input()
fre = set(map(int,input().split()))
print(len(eng.union(fre)))

9
1 2 3 4 5 6 7 8 9 9
9
10 1 2 3 11 21 55 6 8
13

### Program 12 : Set .intersection() Operation

In [12]:
e = int(input())
eng = set(map(int,input().split()))
f = int(input())
fre = set(map(int,input().split()))
print(len(eng & fre))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### Program 13 : Set .difference() Operation

In [13]:
e = int(input())
eng = set(map(int,input().split())) 
f = int(input())
fre = set(map(int,input().split()))
print(len(eng - fre))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### Program 14 : Set .symmetric_difference() Operation

In [14]:
e = int(input())
eng = set(map(int,input().split())) 
f = int(input())
fre = set(map(int,input().split()))
print(len(eng ^ fre))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### Program 15 : Set Mutations

In [16]:
n = int(input())
a = set(map(int,input().split()))
N = int(input())
for i in range(N):
    cmd = input().split()
    opt = cmd[0]
    s = set(map(int,input().split()))
    if (opt == 'update'):
        a |= s
    elif (opt == 'intersection_update'):
        a &= s
    elif (opt == 'difference_update'):
        a -= s
    elif (opt == 'symmetric_difference_update'):
        a ^= s
print(sum(a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
 2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### Program 16 : The Captain's Room

In [17]:
k = int(input())
room_number_list = list(map(int,input().split()))
room_number_set = set(room_number_list)
room_number_list_sum = sum(room_number_list)
room_number_set_sum = sum(room_number_set) * k
diff = room_number_set_sum - room_number_list_sum
for i in room_number_set:
    if diff == ((k-1)*i):
        print(i)
        break

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### Program 17 : Check Subset

In [18]:
for i in range(int(input())): #More than 4 lines will result in 0 score. Blank lines won't be counted. 
    a = int(input()); A = set(input().split()) 
    b = int(input()); B = set(input().split())
    print((A & B) == A)

3
5
1 2 3 5 6
9
 9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### Program 18 : Check Strict Superset

In [19]:
A  = set(input().split())
n = int(input())
check = True
for i in range(n):
    s = set(input().split())
    if (s&A != s) or (s == A):
        check = False
        break
print(check)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

## Thank you